**Functions in Python**

Function -It is reusable part of the code that  performs  a specific Tasks

Two types of functions:

1. **In-built functions**

Example : len(),print(),avg(),min(),max(),sum()

2. **User defined functions** -Any functions that are defined by the user based on the user requirement

def  function name(parameters req for the function):
    logic of the function

def  function name(parameters req for the function):

    logic of the function
function call(arguments/parameters)

In [5]:
def greet(user_name):
  print(f" Hello, {user_name}!")

In [6]:
greet("Shreya Agarwal")

 Hello, Shreya Agarwal!

Default parameters:

In [9]:
def my_function(a,b,c=10):
  return a+b-c
#a=20,b=30,c=5
result =my_function(20,30,5) # c is updated by 5
print(result)

45

In [10]:
def my_function(a,b,c=10):
  return a+b-c
#a=20,b=30,c=10
result =my_function(20,30) # c uses the default value as 10
print(result)

40

Order of the parameters that are passed to the function can be changed.

but to do that we need to specify the parameter and the value that need to be assigne dto it.

In [ ]:
## Function definition
def calculate_result(x,y,z=1,w=5):## These are parameters ## these are the default values for the parameters
  return x+y+z+w
#function calling
result=calculate_result(1,2,w=3)  ## these are the Arguments
print(result)

When the arguments are not passed properly to the Function Call

We should always make sure that

1. Default arguments should come at the end
2. Non-Default arguments should come at the beginning


**Return statement --** This is used mainly to exit a function and also it returns a value which is obtained after the function logic...if there is no value.. then None is returned.

**print statement -** It is only used to dispaly on the console
Ex: Only Showcasing  you the  cake

**Return statement in a function: **Return  means a value has been received from a function.Ex: Giving you the complete cake

Incorrect Usage of Default Parameters

In [11]:
def calculate_result(x=1,y,z=1,w=5):##Here we see that the default argument x=1 is coming before teh non-default argument y.. Hence there is the Syntax error.
                                    ## so the correct order is " def calculate_result(y,x=1,z=1,w=5):"
  return x+y+z+w
#function calling
result=calculate_result(1,2,w=3)  ## these are the Arguments
print(result)

SyntaxError: parameter without a default follows parameter with a default (ipython-input-490915002.py, line 1)

Print Vs Retrun statements

In add_with_print() function we are not holding the value,we are just printing the value on the console

In add_with_return() function we are holding the value in a variable .Then the value is printed on the console through the variable in which it is stored.

In [12]:

## Function definition
def add_with_print(a,b):
  print('The sum is ',a+b)

def add_with_return(a,b):
  return a+b

In [13]:
add_with_print(3,5)

The sum is  8

In [15]:
result  =add_with_return(3,5)
print("The sum is ",result)

The sum is  8

create a function "max_of_three(a,b,c)" and return the maximum

In [17]:
def max_of_three(a,b,c):
  if a>b and a>c:
    return (a)
  elif b>a and b>c:
    return (b)
  else:
    return (c)
max_val = max_of_three(10,200,30)
print(max_val)

200

Create a function " calculate-total_cost(prices) to evaluate sum of the prices

In [20]:
def calculate_total_cost(prices):
  total_cost=0
  for price in prices:
    total_cost=total_cost+price
  return total_cost
cost_prices =[10,20,30,40]
total_expend =calculate_total_cost(cost_prices)
print("The total Expenditure",total_expend)

The total Expenditure 100

Create a function by the name is_palindrome(n) taht returns a number is palindrome orr not

In [22]:
def is_palindrome(n):
  ##Converting from int to string ,so that we apply slicing operation
 str_n=str(n)
 reverse_n=str_n[::-1]
 if str_n==reverse_n:
  return True
 else:
  return False
result=is_palindrome(122)
print(result)

False

**Armstrong Numbers**

370--> number of digits =3

3**3 + 7**3 + 0**3 =27 +343 + 0 = 373

If originalnumber and summation of Number are equal then its a Arm Stron Number

123 -->
1. Count the Number of Digits
2. Power it to every digit
1**3 + 2**3 + 3**3 = 1+8+27 =36

Here original Number 123 != Summation Number

Write a Function is_armstron(n) to check if the Number is Armstrong or Not

In [3]:
def is_arm_strong(n):
  str_n=str(n)
  num_digits=len(str_n)

  ##Generator Expression
  sum_of_powers=(int(digit)**num_digits for digit in str_n)

  return   sum_of_powers==n

val =is_arm_strong(370)

List Comprehension

In [2]:
squares=[x**2 for x in range(5)]
squares

[0, 1, 4, 9, 16]

Create a sum_and_product(a,b) use dto calculate the sum and Product of two numbers and return the result

In [6]:
def sum_and_product(a,b):
  sum_result=a+b
  product_result=a*b
  return sum_result,product_result
num1=10
num2=20
##Function can return two values
sum_result,product_result=sum_and_product(num1,num2)
print(sum_result)
print(product_result)

30
200

Scope of the Variables --Scopeis a region where your variables are visible.

1. Global Scope
2. Local Scope

Global variable scope

In [8]:
x=10 ## its a global variable .
def my_function():
  print(x)
my_function()
print(x)

10
10

Local Variable scope

In [9]:
def my_function():
  y=10 #Y is a local variable. Can be accessible only within the function.
  print(y)
my_function()
print(y)##Trying to access the variable outsid ethe function.. hence it gives an error here

10

NameError: name 'y' is not defined

Difference between Methods and Functions

Methods : It is usually associated with objects and classes

Functions: It is resuable block of Code

In [12]:
class Calculator():
  def add (self,a,b):
    return(a+b)
calci=Calculator()
result=calci.add(10,20) ## here calci is the object for the class Calculator
                        ## add() is the method associated with the object calci
print(result)

30