*   Loops are repetiotion of Task
*   Loops are used when we short lines of Code

**For Loops**

for Loop is used when you wamt to iterate over the entire Data Type(String,list,set,Dictionary)

In [1]:
str1="Priya"

In [2]:
for i in str1:
  print(i)

P
r
i
y
a

In [3]:
#Print the String str1 in Upper case
for i in str1:
  print(i.upper())

P
R
I
Y
A

Given a List print all the Even Numbers in the List

In [5]:
list1=[1,3,5,7,8,2,4]#We are using the for Loop here is because we are iterating over the entire List(list1)
for num in list1:
  if(num%2==0):
    print(num)

8
2
4

Given a List check if the element is even and store it in another List

In [6]:
list1=[1,3,5,7,8,2,4]
list2=[]

for num in list1:
  if num%2==0:
    list2.append(num)
print(list2)

[8, 2, 4]

Factorial of a Number

In [8]:
num =6
factorial =1
while num>0:
  factorial*=num
  num-=1
print(factorial)

720

Implementation of Factorial of Number using "for " loop

In [9]:
num=5
factorial =1
for i in range(1,num+1):
  factorial=factorial*i
  num=num-1
print(factorial)

120

Add the numbers in a given List

In [15]:
list1=[2,3,6,8,12,13,17]
list_sum =0
for i in list1:
  list_sum =list_sum+i
print(list_sum)

61

for-else Use case in python
The else statement in for Loop helps us to check if the Loop has executed Successfully.
elsestatement is executed only when the Lopp is complete

In [16]:
str2="ankit"
for i in str2:
  print(i)
else:
  print("The Loop has executed Successfully")

a
n
k
i
t
The Loop has executed Successfully

Break statement implementation in python.
If the entire loop is not excuted the  print statement after the else statement is not executed .
The loop breaks when i =8.. hence the entire Loopis not executed.

In [18]:
list1=[2,3,6,8,12,13,17]
for i in list1:
  print(i)
  if i==8:
    break
else:
    print('Loop executed Successfully')

2
3
6
8

**Reverse a List using Two Pointers Technique**

list2=[2,5,8,12,17]
output=[17,12,8,5,2]

In [19]:
list2=[2,5,8,12,17]
low=0
high=len(list2)-1

while(low<high):
  list2[low],list2[high]=list2[high],list2[low]
  low+=1
  high-=1
print(list2)

[17, 12, 8, 5, 2]

Time Complexity of a code is obtained based on the number of loops that exists in your code.
In the above logic we have applied only a Single for-loop
hence itsComplexity =O(n)

Code to check if the given number is prime or not

In [26]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a Prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not a Prime number")
            break
    else:
        print("Prime number")

Enter the Number to check if its a prime Number or Not : 2
The Given Number is not a Prime Number

Code to check if the number in a list is prime or not and store the prime numbers in a separate list

In [25]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
prime_list = []

for num in numbers:
    if num > 1:
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_list.append(num)

print("Prime numbers:", prime_list)

[3, 7]