Pandas is the open source Data analysis library written in Python.
It leverages the power and speed of numpy to make Data Analysis and EDA really easy task for any data scientist

There two ways in which the data can be stored using pandas  :

1.   DataFrame -Data structure in Pandas. Multiple set of row and Columns it is a Data Frame in pandas
2.   Series-Series is also a Data Structure in Pandas ,but Series contains Single row or Single Column.To access a Single row or Single Column we use Series

Difference between DataFrame and Series

DataFrame: It is a collection of rows and columns

In [4]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('/content/train.csv')

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
dict1={"name":["priya","nikhil","sanjay","ravindra"],"age":[29,25,23,32],"city":["delhi","bengaluru","rohtak","delhi"]}

In [9]:
dict1

{'name': ['priya', 'nikhil', 'sanjay', 'ravindra'],
 'age': [29, 25, 23, 32],
 'city': ['delhi', 'bengaluru', 'rohtak', 'delhi']}

In [10]:
dataframe=pd.DataFrame(dict1)

In [11]:
dataframe

       name  age       city
0     priya   29      delhi
1    nikhil   25  bengaluru
2    sanjay   23     rohtak
3  ravindra   32      delhi

In [12]:
data.shape

(891, 12)

How many  null values are availble in a given data

In [13]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

To get the columns in a Dataset

In [14]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

To get the data type for every feature in the Dataset

In [15]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Get complete information of the data

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Access records of features in a Dataset

In [17]:
data['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

Access data of multiple features at a time..is done by creating a list

In [18]:
data[['Age','Fare','Cabin']]

      Age     Fare Cabin
0    22.0   7.2500   NaN
1    38.0  71.2833   C85
2    26.0   7.9250   NaN
3    35.0  53.1000  C123
4    35.0   8.0500   NaN
..    ...      ...   ...
886  27.0  13.0000   NaN
887  19.0  30.0000   B42
888   NaN  23.4500   NaN
889  26.0  30.0000  C148
890  32.0   7.7500   NaN

[891 rows x 3 columns]

Using column names we are able to access the Dataset

In [19]:
type(data[['Age','Fare','Cabin']])## Here this comes as Data Frame becaus eit contains multiple Columns

pandas.core.frame.DataFrame

Series

In [20]:
type(data['Age'])

pandas.core.series.Series

Difference between the Pandas Data Structures (DataFrame and Series ) and the Other Python Data Structures (List,Set ,Tupleictionary)?


Ans:  List,Tuples,Set,Dictionaries are the Inbuilt data Structures.
Series and DataFrame are the Data Structures inside Pandas.

In [21]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Accessing Data through Row Indexing -loc can be used to access the data through Indexing

In [22]:
data.loc[[0,5]]## Access the 0th record   and the 5th record

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

Access aSpecific row and Specific Column

In [24]:
data.iloc[2:4,0:2]#3 here rows(2&3 are accessed,and columns 0&1 are accessed)

   PassengerId  Survived
2            3         1
3            4         1

Difference between loc and iloc:
loc: if we want to access particular rows ,we have to do the row indexing,for this loc is used
iloc:  if we want to access particular rows and cols ,we have to do row and col indexing..for this iloc is used