Data Types:

1. Integer
2. Float
3. String
4. Complex
5. Boolean

String Operation:
Access strings- through Slicing
Access strings- through Negative Indexing
Type Casting - Convert a Data Time from One Type to another type

Ex: X=X[::-1] ==Reverasal Operation in Python

In [54]:
a=10
type(a)

int

Memory allocation for Variables in Python-
Heap Memory -

**INTERNAL OF PYTHON**

Heap memory(Free Memory[Dynamic]):Python programming works with Dynamic Memory alloocation.At runtime if more memory is requred ,it aallocates more memory.When datastructures such as List and Dictionary are created, memory is not pre-allocated.. Its only allocated during runtime ,based on the requirement.

In Python
1 .when you define teh variable a=2, we see taht 2 will be in the heap memory and t will be pointing to a.
2. when we define a variable b=2,we see that the same block 2 in the heap memory will point to b..not different memory is created.

2.When you change b="Priya" ,now it will create another block with " priya' and point that blockto the variable b.






stack(Function calls and Local variables:
Static/Global(Global variables):
Code(Instructions):

In [55]:
a=2
b=2
print(b)

2

In [56]:
b="priya"
print(b)

priya

In [57]:
lst=[24,47,76,64,42,65]
lst.append(67)

In [58]:
print(lst)
#output : [24, 47, 76, 64, 42, 65, 67]

[24, 47, 76, 64, 42, 65, 67]

How is the list getting appended with the new element in the memory?

1.We know that list is a Linear Data Structure,where we can store n-number of elemnts in one go.
Mapping happens whenever a list is created and values are inserted to the list

Mapping is {key: value} pair..where key==> indicates index number , value==> value assigned at that index.

list has constant time complexity that O(1),because of "Random Access"

As the data increases the mapping gets updated.

Whenever the new elements beyond the specified length is appended
1. a new list is created with double the previous size.
Ex Initially n=10 ,10 elemnts in the list can be appended,,
Now after  that if we try to add the 11th element,a new list is created with size n*2 that is 10*20 ..Then the new elemnt is added.
2. All the previous elemnts are copied into this new list with twice the memory.

3.Once the new list is created with twice the memory , the Garbage collector clears the previous memory.
4. So again when a new elemnt needs to be appended, beyond the size of the list size, a new memory is created of size n(new value of n)*2

5. load Factor:
load factor = current Number of elements in the List/total size of the list
            =8/10 =0.8
            Load factor =0.8

            If the Load Factor is greater than or Equal to  0.8 a new memory is allocated.

Different Structures (A way to store the data in an effiecient /structred mannaer)in Python:

1.  Linear Data Structure - In linear structure we store the data int he sequential manner
Examples of  Linear Data Structures : Array/List,Stacks,Queue,Linked List
2.  Non-Linear Data Structure -In Non-Linear statucture teh data is stored in hirerachical manner
Examples of  Non-Linear Data Structures : Trees,Graphs,Tries.

Where ever Networking is going on use of Hirerachical Data structures is seen.

Whereever we we sequential is going on like the Hitory of the Laptop ,Linear Data sturctrues like Stacks ,Queues is seen.

Data Structures in Python:
1. List
2. Tuples
3. Set
4. Dictionary

List is Mutable Data Structure. we can change values inside the list.. that is append(),remove(),insert()

In [59]:
lst

[24, 47, 76, 64, 42, 65, 67]

1. List can store different data types.
2. List can be appended within a list.(ie. List of List: within a list there is another list available)

In [60]:
lst.append("priya")

In [61]:
lst

[24, 47, 76, 64, 42, 65, 67, 'priya']

In [62]:
lst.append([2,4,6])
print(lst)

[24, 47, 76, 64, 42, 65, 67, 'priya', [2, 4, 6]]

In [63]:
lst[8]

[2, 4, 6]

In [64]:
## Or can be don ewith Negative Index
lst[-1]

[2, 4, 6]

In [65]:
lst[-1][1]

4

In [66]:
lst.append([3,[5,6,9],12])
lst

[24, 47, 76, 64, 42, 65, 67, 'priya', [2, 4, 6], [3, [5, 6, 9], 12]]

In [67]:
lst[-1]

[3, [5, 6, 9], 12]

In [68]:
lst[9]

[3, [5, 6, 9], 12]

Access 6 from the above list

In [69]:
lst[9][1][1]

6

Count the number '24' exists in a list

In [70]:
x = lst.count(24)
print(x)

1

Find the index of the element 64 in the list lst

In [71]:
pos=lst.index(64)
print(pos)

3

Find the index of the element that is in inner list  will not work , since the index function works for the outside list.

So we need to specify the index of from the outer list and then call the index() function and specify the element to search

In [72]:
val_pos=lst[8].index(4)
print(val_pos)

1

insert() functin is used to insert an element in a list at the required Position

In [73]:
lst.insert(2,90)

In [74]:
lst

[24, 47, 90, 76, 64, 42, 65, 67, 'priya', [2, 4, 6], [3, [5, 6, 9], 12]]

Reverse the entire list using reverse() function.It reverses the element of a list "In-Place"

In-Place : This means not using any extra  Data structure to return the result.This means we cannot store it any other extra data structure,the original Data structure is modified.

In [80]:
lst.reverse()

In [81]:
lst

[24, 47, 90, 76, 64, 42, 65, 67, 'priya', [2, 4, 6], [3, [5, 6, 9], 12]]

In [82]:
lst.insert(8,67)

In [83]:
lst

[24, 47, 90, 76, 64, 42, 65, 67, 67, 'priya', [2, 4, 6], [3, [5, 6, 9], 12]]

If there are duplicate elements in the list, the index() function returns the index of the  "First_Occurance" of the element

Example : In the list lst ,we have elemnt "67" at two position (index) 7,8.

lst.index(67) --> return 7 which is the first occurance.

In [84]:
pos_val2= lst.index(67)

In [86]:
print(pos_val2)

7

**Tuple**
Difference ebetween List and Tuples

1.Tuple is Immutable.. this is a data Structure which we cannot change
Tuple uses ()brackets
2.Once a Tuple is defined memory is allocated ..after that we cannot increase or decrease the space.

In [89]:
tup=(2,4,8,12,'priya',(5,6))

In [90]:
tup

(2, 4, 8, 12, 'priya', (5, 6))

In [92]:
tup[5][1]

6

In [93]:
tup[-1]

(5, 6)

In [94]:
tup[-1][1]

6

In [95]:
val_count =tup.count(8)

In [96]:
val_count

1

In [97]:
val_count1=tup.index('priya')

In [98]:
val_count

1

Q Whether Tuple is faster or List? Which of the two is more efficient?
A. Tuple does a Faster as Comparable to List
Tuple is a Immutable a Data Structure .List is a Mutubale Data Structure

The below action will show an Error ,as Tuple does not support Mutability Operation
Below is the Example

List is more Usable or tuple in terms of Storing the data?

List is more Usable to store the Data. Since List is mutuable Data can be modified..Hence this is used more.
1.If there is a requirement of [Append,Insert ,Delete] always use List Data Structure.
Tuple :When can Tuple be used?
1.If there is aRequirement of fixing the  Data size then use Tuple to store the Data.
2.If there is only retrival Operation use Tuple

In [99]:
tup[1]=5

TypeError: 'tuple' object does not support item assignment

**Set**

1.Set is used to Eliminate the Duplicate entries.
Set does not add duplicate Enteries.

In [100]:
my_set={1,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [101]:
my_set.add(2)

In [102]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [103]:
my_set.add(8)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
my_set.remove(2)

In [105]:
my_set

{1, 3, 4, 5, 6, 7, 8}

Remove the Duplicate Elements from the List

In [107]:
lst1=[1,2,2,3,4,5,7,4]
print(list(set(lst1)))

[1, 2, 3, 4, 5, 7]