1.What is the differenc ebetween Tuple and List?
Ans :
1.   Tuple is immutable where as List is mutable
2.   Tuple has faster operation as compared to List.Sunce Tuples are immutable they are faster in Operation
3. Tuple is written in () form and List are written as []
Ex:

In [1]:
tup1=(1,2,3,4)
type(tup1)

tuple

In [2]:
lst1=[10,1,2,14,16]
type(lst1)

list

2. Given a list of numbers containing teh duplicate numbers,remove the duplicate elemnts from the list?
Ans We can use set() to remove the duplicate numbers from a List. Set gives unique numbers

In [7]:
lst2=[1,2,4,2,5,7,5,8,12,7]

In [6]:
list(set(lst2))

[1, 2, 4, 5, 7, 8, 12]

In [ ]:
##Can also be done by defining a function

In [8]:
def remove_duplicates(lst2):
  return(list(set(lst2)))
print(remove_duplicates(lst2))

[1, 2, 4, 5, 7, 8, 12]

3.Given a string,reverse it?

In [10]:
s1="Priya"
##Expected Output "ayirP"

In [11]:
print(s1[::-1])

ayirP

Using a function

In [12]:
def reverse_string(s1):
  return(s1[::-1])
reverse_string(s1)

'ayirP'

4.Given a string ..Check if its Palindromic or not?

In [1]:
def string_palindrome(s1):
  if s1 ==s1[::-1]:
    print(f"String {s1} is a Palindrome")
  else:
      print(f"String {s1} is not a Palindrome")
s1="mommy"
string_palindrome(s1)

String mommy is not a Palindrome

5.What is difference between shallowCopy and deepCopy?

In [6]:
##shallow Copy
import copy
list1=[[1,2,3],[4,5,6]]

Shalow Copy- Shallow copy just creates a view and it changes the original value list.
In shallow copy we use -copy.copy()

In [7]:
list2=copy.copy(list1)
list2[0][2]=10
print(list1)

[[1, 2, 10], [4, 5, 6]]

DeepCopy- Deep Copy does not modify the original list or value
In deepcopy we use -copy.deepcopy()

In [8]:
list3=copy.deepcopy(list1)
list3[0][1]=20
print(list1)

[[1, 2, 10], [4, 5, 6]]

6.How do you handle exception in Python

In [9]:
try:
  x=1/0
except ZeroDivisionError:
  print("you cannot divide a number by 0")

you cannot divide a number by 0

7. what is lambda function in Python?

Ans: It is an Anonoymous function,where it is not required to give name to the function

In [10]:
add =lambda a,b : a+b
result = add(5,3)
print(result)

8

8.What is list comprehension in python?
Ans : A logic or looping can be done in a single line of code.

Example for List Comprehension ;

Given a list provide the squares of every element in the list

In [13]:
list1=[2,3,4,5,6]
list2= [x**2  for x in list1]
print(list2)

In [17]:
squares=[x**2 for x in range(10)]## execute from 0 to 9
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

9.Count the number of times a particular character appears in a string

In [19]:
s1="pankaja"
letter_count =s1.count('a')
print(letter_count)

3

Using a function : Count the number of times a particular character appears in a string

In [23]:
def char_count(s1,char1):
  return(s1.count(char1))

str1=" hello world"
letter_count= char_count(str1,'l')
print(letter_count)

3

10.Given two sorted lists ,merge both of them and create another sorted list

In [39]:
list1=[1,3,7]
list2=[2,5,6]

##output =[1,2,5,6,7]

In [40]:
list1.extend(list2)
list1.sort()
print(list1)

[1, 2, 3, 5, 6, 7]